







html {
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}



body  {
    font-family: 'Arial' , sans-serif;
    overflow-x: hidden;
 
}

.card > h3{


margin-top: 30%;
}
a{
    text-decoration: none;
    color: #fff;
}



h2{
    margin-top: 20%;
    color: white;
}







section{
    padding: 10rem 0;
  
}


.carddd{
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 .con{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-radial-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: rgb(247, 247, 247);
    position: relative;
}


.card{
    width: 15rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0, 2);
}

.card .card-img{
    width:100%;
    height: 20rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100%, 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%);

}

.profile-img{
    width:5rem;
    height:5rem;
    object-fit:cover;
    border-radius:50%;
    margin-top: -11rem;
    z-index: 9;
    border: 1rem solid #ebeef8;
}

/* .card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
} */

/* .job-title{
    color: #777;
    font-size:1.5rem;
    font-weight:300;
} */

/* .about{
    font-size:1.5rem;
    margin:1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
} */


/* .card .btn{
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
} */



.social-media{
    width: 100%;
    display:flex;
    list-style:none;
 
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-top: 1.5rem;
    border-top:1px solid black;
  
}

.social-media i{
    font-size:1rem;
    transition: color .5s;
}


.fab.fa-facebook-square{
color: #3b5999 ;
}


.fab.fa-twitter-square{
color: #55acee;
}


.fab.fa-instagram{
color:#e6683c;
}

.fab.fa-youtube-square{
color: #c4302b;
}



.fab.fa-facebook-square:hover,
.fab.fa-twitter-square:hover,
.fab.fa-instagram:hover,
.fab.fa-youtube-square:hover{
color: #45e19f
}



@media screen and (min-width: 200px){
    .card-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 2rem;
        transition: transform .5s;
    }


    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
        .card:nth-child(1){
            animation: fadeIn .5s .5s backwards;
        }

        .card:nth-child(2){
            animation: fadeIn .5s .1s backwards;
        }

        .card:nth-child(3){
            animation: fadeIn .5s 1.5s backwards;
        }


        .card:nth-child(4){
            animation: fadeIn .5s 2s backwards;
        }

        .card:hover{
            transform: scale(1.1);
        }
    }






    .col-text {
        height:20em;
      }
      .grid-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        flex-direction: row; 
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;
        -webkit-justify-content: space-around;
        /* animation: fadeIn .5s 6s backwards; */
      }
      .col {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        /* animation: fadeIn .5s 6s backwards; */
      }
      .col-left {
        -webkit-box-ordinal-group:-1;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        /* animation: fadeIn .5s 6s backwards; */
      }
      .col-text{
        display: flex;
        align-items: center;
        justify-content: center;
        /* animation: fadeIn .5s 6s backwards; */
      }
      .Aligner-item {
        width: 60%;
      }
      .col-image {
        background-size: cover;
        background-position:center center;
        /* animation: fadeIn .5s 6s both; */
        border-radius:5px ;
        margin-top: 5%;
      }

      .col-image:hover{
        transform: scale(1.1);
        cursor: pointer;
        /* animation: fadeIn .5s 2s backwards; */
    }

 

 
      
      @media (max-width: 640px) {
        .grid-flex {
          height: 40em;
          display: -webkit-flex;
          -webkit-flex-direction: column;
          flex-direction: column; 
         }
        .col {
          order:vertical;
        }
        .col-left {
          -webkit-box-ordinal-group:0;
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
        }
        .col-text div p {
          padding: 1em;
        }
        .Aligner-item {
          width: 90%;
        }
      }
      
      
@keyframes ani {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }