

html, body {
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}






body{
   
min-height: 110vh;
min-width: 95%;

min-height: 100vh;
background-image: url("/cncrt.jpg");
-webkit-background-size: cover, blur 5px;;
background-size: cover;
background-position: center center;
box-sizing: border-box;
}








h1 {
    margin: 0;
    padding:0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
    color:rgb(10, 9, 9);
    font-size: 1em;
    letter-spacing: 0.2em;
    margin-left: 25%;
    font-family: sans-serif;
}

h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 3s linear forwards;
}

@keyframes animate {
  0%
    {
        opacity:0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity:1;
        transform: rotateY(00deg);
        filter: blur(0);
    }
}



p{
    font-size: 24px;
    line-height: 50px;
}



.cpy{
    margin-left: 35%;
    color: whitesmoke;
}