

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  height: 2%;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  margin-left: 40%;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
  margin-left: 40%;
}
.cta-text h4 {
  color: rgb(194, 194, 194);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;


}
.footer-content {
  position: relative;
  z-index: 2;
}
